{% extends "base.html" %}

{% block content %}
<div class="container py-4">
    <div class="h-100 p-5 mb-4 bg-body-tertiary border rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">{{post.title}}</h1>
          <h4 class="display-7 fw-bold">Written by: {{ post.author.username }}</h4>
          <h5 class="display-8 fw-bold">Published: {{ post.date.strftime('%B %d, %Y') }}</h5>
          <p class="col-md-8 fs-4">{{post.text}}</p>

          {% if post.author == current_user %}
          <a class="btn btn-primary btn-lg" href="{{url_for('blog_posts.update_post', blog_post_id=post.id)}}" role="button">Update</a>
          <button class="btn btn-danger btn-lg" type="button" data-bs-toggle='modal' data-bs-target='#del_modal'>Delete</button>
          {% endif %}
        </div>
    </div>
</div>

<div class="modal fade" id="del_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Post?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete the post?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a class="btn btn-danger" href="{{url_for('blog_posts.delete_post', blog_post_id=post.id)}}" role="button">Delete</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}